.cast__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 16px;
	.cast {
		background: rgb(206, 214, 216);
		width: 100px;
		height: 140px;
		position: relative;
		margin-bottom: 16px;
		overflow: hidden;
		border-radius: 8px;
		img {
			max-width: 100px;
		}
		.cast__name {
			width: 100%;
			height: 48px;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 10;
			background: rgba(255, 255, 255, 0.7);
			display: flex;
			align-items: flex-end;
			justify-content: center;
			p {
				text-align: center;
				padding: 3px 3px;
				font-size: 14px;
			}
		}
	}
}

.show__button {
	background: #5243b8;
	border: none;
	border-radius: 50px;
	border-top-left-radius: 4px;
	color: white;
	padding: 12px 20px;
	cursor: pointer;
	margin-top: 16px;
}

.show__button:hover {
	background: #4638a0;
}
.show__button:focus {
	outline: none;
}
